* {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ace5df;
  margin: 3em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  background-color: #fff9e4;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 7px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.peter {
  width: 100px;
  padding-right: 1em;
}

h1 {
  font-size: 3em;
  color: #835a2a;
  letter-spacing: 15px;
  margin: 0 0 5px;
}

#bottom-title,
#or,
.introduction {
  letter-spacing: 11px;
  color: #7e725c;
  font-weight: 600;
  text-align: center;
}

.how-to-search {
  align-items: center;
  text-align: center;
}

/* Search bar */
.search-form {
  text-align: center;
  padding: 2em 0 1em;
}

#or,
.introduction {
  letter-spacing: -0.3px;
}

.search-form-name {
  padding: 1em 0 2em;
}

#time {
  width: 80px;
}

#search-bar,
button,
#submitName,
select,
#hemisphere {
  opacity: 0.8;
  padding: 6px;
  font-size: 13px;
  border: none;
  border-radius: 1em;
  font-weight: 600;
  color: #54200c;
  letter-spacing: -0.3px;
}

#search-bar,
select {
  background-color: #feec9e;
  width: 250px;
}

select {
  max-width: 145px;
}

button,
#submitName {
  background-color: #66d267;
  color: #dcfff5;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #8bc48c;
  transition: all ease-in-out 300ms;
}

/* Search Result */
.result-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
  letter-spacing: -0.3px;
}

.resultDiv {
  background-color: white;
  display: flex;
  align-items: center;
  width: 360px;
  margin: 0.8em;
  border-radius: 1.5em;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 7px;
}

.result-title {
  width: 100%;
  font-size: 22px;
  padding: 3em 0 0 1em;
  font-weight: 600;
  color: #835a2a;
}

.iconImg {
  background-color: #feec9e;
  border-radius: 999px;
  width: 65px;
  height: 65px;
  margin: 1em 2em;
}

.right-div {
  display: flex;
  flex-direction: column;
  color: #4b3215;
  font-size: 12px;
  font-weight: 600;
}

ul {
  margin: 0;
  color: #7e725c;
}

.name {
  text-transform: capitalize;
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.price {
  font-size: 12px;
  color: #66d267;
  margin-left: 0.8em;
}

.months {
  margin: 6px 0px 5px;
  flex: 100%;
}

.time,
.location {
  display: inline;
  margin-top: 3px;
}

.location {
  margin-right: 10px;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
